* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    font-size: 62.5%;

    --font-header: 'Staatliches', cursive;
    --font-main: 'Palanquin', sans-serif;
    --font-footer: 'Open Sans', sans-serif;
    --font-p: 'Roboto', sans-serif;

    --bg-color: hsl(233, 100%, 97%);
    --bg-color-secundary: hsl(218, 17%, 62%);
    --bg-color-h1: hsl(275, 18%, 79%);
    --bg-color-h2: hsl(312, 91%, 96%);
    --color-h2: hsl(232, 17%, 35%);
    --color-p: hsl(274, 84%, 12%);

}

body {

    text-align: center;

    background-color: var(--bg-color);
    font-family: var(--font-header);

}

body::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    width: 100%;
    height: 28rem;

    background-color: var(--bg-color-secundary);

}

header {

    height: 36.8rem;
    
}

header img {

    margin: 3.2rem auto 0;

}

header h1 {

    font-family: var(--font-header);
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    color: white;
    background-color: var(--bg-color-h1);

    margin: 3.2rem auto 0;
    padding: 8px 0;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}

header p {

    box-sizing: content-box;

    color: var(--color-p);

    font-family: var(--font-main);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5rem;

    margin: 4.3rem auto 0;

    max-width: 30.5rem;
    height: 7.5rem;
    object-fit: cover;

}


main {

    max-width: 32rem;
    height: 150.4rem;
    margin: 6.3rem auto 6rem;
}


main .card {

    position: relative;
    animation: topbootom 450ms 450ms backwards;
    
}

main .card h2 {

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    width: 11.2rem;
    height: 3.5rem;
    padding: 0 2.3rem;
    
    background-color: var(--bg-color-h2);
    color: var(--color-h2);
    border-radius: 2rem;

    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    animation: animation-h2 600ms 800ms backwards;

}

main .card img {

    width: 100%;
    height: 100%;
    border-radius: 2rem; 
    object-fit: cover;
    
}

main .wrapper-cards {
    
    
    display: grid;
    
    gap: 3.6rem;

    grid-template-columns: 32rem;
    grid-template-rows: 25rem 45rem 25rem 45rem;

    

}

.card:nth-child(5) {
        
    
    
    display: none;
}

.card:nth-child(6) {
    
    display: none;
    
}


footer {
    
}
 

@keyframes topbootom {
    0% {

        opacity: 0;
        transform: translateY(20rem);

    }

    100% {

        opacity: 1;

    }
}

@keyframes animation-h2{
    0% {

        opacity: 0;
        transform: translateY(-1.6rem);

    }

    100% {

        opacity: 1;
        transform: translateY(0);
    
    }
}


@media (min-width: 700px) {

    body {

        max-width: 128rem;
        height: 72rem;
    }

    

    body::before {
        
        width: 37.7rem;
        height: 100%;
    
        background-color: var(--bg-color-secundary);
    
    }

    .page {
        display: flex;
    }

    header {

        width: 37.7rem;
        height: 72rem;

        
    }

    header img {

        

        

    }

    header h1 {

        font-size: 4.8rem;
        letter-spacing: 0;

        padding: 2rem 0;

        
    }

    header p {

        

        margin: 3.2rem auto 12.5rem;

        max-width: 27.5rem;
        height: 26.2rem;
    }

    main {
        margin: 6.4rem 8.1rem 5rem 9.8rem;

        max-width: 72.4rem;
        height: 53.2rem;
    }
    

    main .wrapper-cards {
        gap: 3.2rem;

        grid-template-areas: "A B E" 
                            "C B F"
                            "C D F";

        grid-template-columns: 22rem 22rem 22rem;
        grid-template-rows: 15rem 16.8rem 15rem;  
    }    

    .card:nth-child(1) {
        
        grid-area: A;
        
    }

    .card:nth-child(2) {
        
        grid-area: B;
        
    }

    .card:nth-child(3) {
        grid-area: D;
        
    }

    .card:nth-child(4) {
        
        grid-area: C;
    }

    .card:nth-child(5) {
        
        display: flex;
        grid-area: E;
    }
    
    .card:nth-child(6) {

        display: flex;
        grid-area: F;
    }

    
    footer {

        
        display:;

        font-family: var(--font-footer);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.8rem;

        color: var(--color-h2);


        grid-template-columns: 59.2rem;
        margin: 5rem auto 4.6rem;




    }

    footer p a {
        text-decoration: none;

        font-weight: 700;
    }

    
}




